.form-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.main-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.main-form-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px;
}
.main-form-block-inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.main-form-block textarea {
    min-height: 350px;
    padding: 16px 8px;
}
.my-input {
    padding: 8px;
}
.my-select {
    border: 1px solid;
    padding: 8px;
    width: 48%;
}
.form-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}